.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form input {
  width: 300px;
}

.form label {
  margin-top: 10px;
}

.form button {
  width: 100px;
  margin-top: 10px;
}
